## Libraries

In [3]:
# Pandas --> Data Frames
import pandas as pd

## Import Data

In [5]:
data = pd.read_csv("/Users/carriesmith/Dropbox/GA/datascience/salary_prediction/data/train.csv")

In [7]:
data.head(n=2)

,Id,Title,FullDescription,LocationRaw,LocationNormalized,ContractType,ContractTime,Company,Category,SalaryRaw,SalaryNormalized,SourceName
0,12612628,Engineering Systems Analyst,Engineering Systems Analyst Dorking Surrey Sal...,"Dorking, Surrey, Surrey",Dorking,NaN,permanent,Gregory Martin International,Engineering Jobs,20000 - 30000/annum 20-30K,25000,cv-library.co.uk
1,12612830,Stress Engineer Glasgow,Stress Engineer Glasgow Salary **** to **** We...,"Glasgow, Scotland, Scotland",Glasgow,NaN,permanent,Gregory Martin International,Engineering Jobs,25000 - 35000/annum 25-35K,30000,cv-library.co.uk

In [8]:
print len(data), 'rows'

10000 rows

In [9]:
print data.columns.values

['Id' 'Title' 'FullDescription' 'LocationRaw' 'LocationNormalized'
 'ContractType' 'ContractTime' 'Company' 'Category' 'SalaryRaw'
 'SalaryNormalized' 'SourceName']

In [16]:
cols = data.columns

for c in cols:
    if type(data[c][0]) == str and c != "FullDescription":
        print c
        print data[c].value_counts(dropna = False).head(n=10)

Title
Staff Nurse                     78
Home Manager                    61
Dental Nurse                    39
Deputy Manager                  32
Project Manager                 24
RGN Nurse                       23
Business Development Manager    19
Registered Nurse                18
Nursing Home Manager            17
Mechanical Design Engineer      16
dtype: int64
LocationRaw
London            637
UK                335
Belfast           225
Leeds             166
Manchester        145
City of London     98
Surrey             95
Hampshire          81
Sheffield          77
West Midlands      74
dtype: int64
LocationNormalized
UK            1337
London         893
Manchester     281
Leeds          238
Belfast        227
Birmingham     140
The City       135
Surrey         129
Sheffield      115
Hampshire      103
dtype: int64
ContractTime
NaN          5263
permanent    4132
contract      605
dtype: int64
Company
NaN                    4049
JOBG8                   449
Fresh Partnership       262
ARRAY                   218
Clear Selection         127
Chef Results            125
Triumph Consultants      99
JHR                      75
Castle Recruitment       74
The Works Uk Ltd         69
dtype: int64
Category
Healthcare & Nursing Jobs      3149
IT Jobs                        1414
Engineering Jobs               1152
Accounting & Finance Jobs       606
HR & Recruitment Jobs           578
Hospitality & Catering Jobs     525
Sales Jobs                      426
Teaching Jobs                   342
Customer Services Jobs          257
Other/General Jobs              236
dtype: int64
SalaryRaw
32 to 55 per hour            51
40000 to 45000 per year      49
10,000 - 20,000              43
35000 to 40000 per year      39
15,000 to 22,000 per year    31
12 to 12 per hour            29
25000                        27
24000 to 26000 per year      26
30000                        26
15,000 - 25,000              26
dtype: int64
SourceName
careworx.co.uk           2946
MyUkJobs                 1559
cv-library.co.uk          874
theitjobboard.co.uk       643
fish4.co.uk               441
planetrecruit.com         436
totaljobs.com             403
thecareerengineer.com     312
hays.co.uk                293
caterer.com               264
dtype: int64